---
import { AstroFont } from 'astro-font'
import { ViewTransitions } from 'astro:transitions'
import UploadHandler from '@/components/UploadHandler.astro'

const { className } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <AstroFont
      config={[
        {
          preload: false,
          display: 'swap',
          name: 'Archivo',
          selector: 'body',
          fallback: 'sans-serif',
          src: [
            {
              weight: 400,
              style: 'normal',
              path: 'https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXp-p7K4KLjztg.woff2',
            },
          ],
        },
      ]}
    />
  </head>
  <body class={['min-w-screen min-h-screen', className].filter((i) => i).join(' ')}>
    <slot />
    <UploadHandler />
  </body>
</html>
